@import "tailwindcss";

@theme {
  --color-primary: #6324eb;
  --color-background-dark: #161121;
  --color-slate-custom: #0F172A;
  --color-card-custom: #1E293B;
  --font-display: "Inter", sans-serif;
}